.earthVid{
    height:100vmin;
    width:100%;
    object-fit: contain;
}

#video{
    width: 100%;
    height:100%;
    position: fixed;
    object-fit: cover;
    z-index: -1;
}

.vid-overlay{
    text-align: center;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    top: 40vh;
}

.vid-overlay h1{
    font-size: 6vmin;
    color:white;
    text-transform: uppercase;
    padding-bottom: 1vmin;
}
.vid-overlay p{
    font-size: 4vmin;
    color:white;
    text-transform: uppercase;
    padding-bottom: 3vmin;
}
.vid-overlay .btn{
    margin:1rem .2rem;
}

@media screen and (max-width:640px) {
    .content h1{
        font-size:3rem;
    }
    .content p{
        font-size:1.4rem;
        
    }
}
